@media (max-width: 480px){
  /*--HERO-AREA--*/
  .hero-area{
    height: 700px;
  }

  .hero-area .block h1 {
    font-size: 38px;
    margin: 80px auto 30px;
    line-height: 50px;
  }
  .hero-area .block p {
    font-size: 11px;
    width: 90%;
    line-height: 12px;
    text-align: justify;
  }

  .hero-area .block .btn-transparent {
    margin: 50px auto;
    font-weight: 500;
    letter-spacing: 2px;
  }
  /*--NAVBAR--*/
  .navbar-brand img {
    width: 200px;
  }

  /*--ABOUT--*/
  .title h2{
    font-size: 28px;
  }

  /*--CALL-TO-ACTION--*/
  .flyers-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.self-marketing {
  display: flex;
  flex-direction: column;
}

.self-marketing img {
  width: 100%;
  margin-bottom: 40px;
}

.go-to-course {
  width: 100%;
}

img.flyer-diagnosis{
    width: 100%;
    margin-bottom: 50px;
}

/*--INFO-IMPORTANT--*/

.logo-info-middle{
  display:none;
}

.path-holder{
  flex-direction: column;
  background-color: #C6C6C6;
  border-bottom: none;
}

.first-text, .second-text{
  float: none;
  width: 100%;
}

.first-text{
  border-bottom: solid 10px #FFF;
}

.third-text{
  border: solid 10px #FFF;
}

.in-path-title{
  text-align: center;
  font-size: 24px;
}

.in-path-text{
  text-align: justify;
  padding: 20px;
}

.follow-span{
  font-size: 24px;
}

.first-step, .second-step, .third-step, .fourth-step, .fifth-step{
  padding: 70px 10%;
}

.step-instruction{
  width: 70%;
}

.step-title{
  font-size:14px;
}

.step-text{
  font-size: 12px;
}

.to-form{
  padding: 10px;
}

/*--FOOTER--*/
.copyright{
  flex-direction: column;
}

.footer-brand{
  justify-content: center;
}

.copyright a img{
  margin: 50px auto;
}

.contact-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto 30px;
}

.thanks-text {
  width: 80%;
  margin: 80px auto;
  font-size: 16px;
}

.back-to-home {
  width: 80%;
  margin: 0 auto;
}
.back-to-home a{
  font-size: 16px;
}

}
