/*--HERO AREA--*/

.hero-area{
    width: 100%;
}

.block{
    width: 90%;
    margin: 0 auto;
}

/*--NAVBAR--*/

.navbar-brand{
    display: flex;
    flex-direction: row;
    width: 25%;
}

.navbar-brand img{
    width: 300px
}

/*--ABOUT--*/

.about-icons{
    width: 120px;
}

/*--CALL-TO-ACTION--*/
.call-to-action h2{
    padding-bottom: 30px;
}

.flyers-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img.flyer-diagnosis{
    width: 30%;
}

.footer-brand {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.copyright a img{
    width: 150px;
}

/*--INFO-IMPORTANT--*/

.path-holder{
    overflow: hidden;
    height: auto;
    width: 100%;
    position: relative;
}

.shaped{
    background: #FFF center top no-repeat;
    height: 350px;
    width: 375px;
    background-size: cover;
    shape-outside: polygon(50% 0%, 0 100%, 100% 100%);
    shape-margin: 10px;
    clip-path: polygon(47% 0%, 0% 95%, 92% 95%);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    
}

.shaped img{
    width: 98%;
    height: 98%;
    object-fit: cover;
    margin: auto;
}

.first-text{
    float: left;
    width: 38%;
}

.second-text{
    float: right;
    width: 38%;
}




