body, h1, h2, h3, h4, h5, h6, p{
    font-family: 'Encode Sans', sans-serif;
}

.hero-area {
    background: #33CCCC;
}

.hero-area::before {
    background: none;
}

.hero-area .block h1 {
    font-size: 90px;
    text-transform: none;
    font-weight: 600;
}

.hero-area .block p {
    font-size: 16px;
    width: 90%;
}

.navbar-brand span{
    letter-spacing: 5px;
    font-size: 30px;    
}

.bottom-logo-text{
   line-height: 22px;
}

.pl-2{
    padding-left: 14px!important;
}

.about .block .icon-box:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 113.14px;
    height: 113.14px;
    background-color: inherit;
    left: 20.4315px;
    transform: scaleY(1.2) rotate(-45deg) translateY(50px) translateX(-45px);
}

.about .block .icon-box:before {
    top: -56.5685px;
    border-top: 4px solid #33CCCC;
    border-right: 4px solid #33CCCC;
}

.about .block .icon-box:after{
    display: none;
}

/*--CALL-TO-ACTION--*/
.call-to-action h2, .copyright {
    color: #33CCCC;
}

/*--TEAM--*/
.member-photo .mask{
    background-color: #33CCCC;
}

.member-brief{
    color: #FFF;
    font-size: 10px;
    padding: 10px;
    text-align: justify;
    line-height: 11px;
}

.copyright span{
    letter-spacing: 5px;
    font-size: 60px;   
    text-transform: uppercase; 
}

/*--INFO-IMPORTANT--*/

.path-holder, .path-end{
    background-color: #C6C6C6;
}

.path-holder{
    border: 15px solid #FFF;
}

.in-path-title{
    font-size: 24px;
    color: #000;
    font-weight: bold;
    padding: 30px;
}

.in-path-text{
    font-size: 18px;
    color: #000;
    font-weight: 400;
    padding: 0 30px 30px;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

.logo-info{
    clip-path:polygon(50% 8%, 2% 90%, 98% 90%);
}





