/*--HERO AREA--*/

.block{
    width: 90%;
    margin: 0 auto;
}

/*--NAVBAR--*/

.navbar-brand{
    display: flex;
    flex-direction: row;
    width: 25%;
}

.navbar-brand img{
    width: 300px
}

/*--ABOUT--*/

.about-icons{
    width: 120px;
}


.call-to-action h2{
    padding-bottom: 30px;
}

.footer-brand {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.copyright a img{
    width: 150px;
}



