.navbar-brand{
    display: flex;
    flex-direction: row;
    width: 25%;
}


.navbar-brand img{
    width: 100px;
}

.brand-text{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: flex-end;
}

