{{ if .Site.Params.cta.enable}}
{{"<!-- Start Call To Action -->" | safeHTML}}
<section class="call-to-action section-sm bg-1 overly" id="cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>¡Inscríbete en el curso que dictará nuestra Vicepresidenta!</h2>
                <div class="self-marketing">
                    <img src="https://letb.s3.sa-east-1.amazonaws.com/Diagnosis/WhatsApp+Image+2021-06-19+at+17.10.06.jpeg">
                    <div class="go-to-course">
                        <p>Cada vez se está haciendo más realista contar con secuenciación genómica como parte del cuidado de nuestros pacientes.<br> 
                        Esto ha sido posible gracias a la convergencia de disciplinas como la biología molecular, la Bio informática y la genética clínica.<br> 
                        <br>Invitamos a profesionales de las ciencias biológicas, médicas e informáticas a participar de nuestro curso para entender las bases 
                        de la información genómica y cómo interpretarla para aplicarla al diagnóstico en medicina.<br>
                        <br>¡No te quedes fuera! Inscríbete y forma parte de nuestro curso. Consulta por tu rebaja arancelaria vigente (cupos limitados)<br>
                        <br>Fecha de inicio: 16 de agosto 2021 en modalidad e-learning.
                        </p>
                        <button class="to-form">
                            <a href="https://www.medichi.uchile.cl/component/content/article/91-programas-2021/e-learning/cursos-e-learning/818-curso-fundamentos-y-herramientas-de-la-medicina-genomica-orientada-a-diagnostico?Itemid=101." target="_blank">Inscribirme</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center">
               {{ with .Site.Params.cta.title}} <h2>{{ . }}</h2> {{ end }}
                <div class="flyers-holder">
                    <img class="flyer-diagnosis" src="https://letb.s3-sa-east-1.amazonaws.com/Diagnosis/BioinformaticaMedica.jpg">
                    <img class="flyer-diagnosis" src="https://letb.s3-sa-east-1.amazonaws.com/Diagnosis/DetectivesGeneticos.jpg">
                    <img class="flyer-diagnosis" src="https://letb.s3-sa-east-1.amazonaws.com/Diagnosis/AFICHE_SONEPSYN_TRASTORNOSDELMOVIEMIENTO.JPG">
                </div>
            </div>
        </div>
    </div>
</section>
{{"<!-- Start Services Section -->" | safeHTML}}
{{ end }}