<section class="bg-one info section" id="info">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 padding-0">
            {{"<!-- section title -->" | safeHTML}}
            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2>{{ .Site.Data.info.heading}} <span class="color">{{ .Site.Data.info.headingSpan}}</span> {{ .Site.Data.info.endSpan}} </h2>
                <div class="border-meghna"></div>
            </div>
            <div class="path-holder">
              <div class="first-text">
                <h3 class="in-path-title left">
                  Trabajamos a escala humana
                </h3>
                <p class="in-path-text left">Se necesita del trabajo de profesionales especializados para dar con un diagnóstico desconocido hasta ahora. 
                  Somos una fundación sin fines de lucro, nuestros colaboradores son voluntarios y nuestros recursos son limitados, 
                  pero debes saber que estamos muy comprometidos con la labor de investigar.</p>
              </div>
              <img src="https://letb.s3-sa-east-1.amazonaws.com/Diagnosis/Diagnosis_InfoLogo.png" class="logo-info-middle">
              <div class="second-text">
                  <h3 class="in-path-title right">
                    No podemos tomar todos los casos
                  </h3>
                  <p class="in-path-text right">Debemos revisar cuidadosamente si eres un caso que podamos tomar y que cumplas con nuestros requerimientos
                     para poder darte un servicio satisfactorio. Recuerda que nuestro objetivo son las enfermedades neurológicas sin diagnóstico claro y con 
                     sospecha de origen hereditario o genético.</p>
                </div>
            </div>
            <div class="path-end">
              <div class="third-text">
                <h3 class="in-path-title center">Revisamos todas las solicitudes</h3>
                <p class="in-path-text center">Si tu solicitud es aceptada, podemos entregarte una consulta con un médico genetista y
                  orientación sobre posibles diagnósticos. También aspiramos a poder entregar apoyo económico para realizar exámenes. 
                  Todo dependerá de tu caso.</p>
              </div>
            </div>
            <div class="follow-this">
              <h3 class="follow-span center">Sigue los siguientes pasos para solicitar nuestra ayuda</h3>
              <div class="arrow-down"></div>
            </div>
            <div class="steps">
              <div class="first-step">
                <h1 class="step-num">1</h1>
                <div class="step-instruction">
                  <h6 class="step-title">Tu médico tratante debe redactar una carta para nosotros:</h6>
                  <p class="step-text">Es importante que consultes a tu médico tratante. Buscamos que el médico a cargo de tu caso redacte una 
                    carta explicando tu caso y por qué considera que podemos ayudarte.<a href="https://letb.s3-sa-east-1.amazonaws.com/Diagnosis/Carta_de_recomendaci%C3%B3n_Diagnosis.docx" download class="download-letter"> (Aquí puedes descargar un ejemplo).</a></p>
                </div>
              </div>
              <div class="second-step">
                <h1 class="step-num">2</h1>
                <div class="step-instruction">
                  <h6 class="step-title">Esta carta debe contener la siguiente información:</h6>
                  <p class="step-text">Resumen médico del solicitante, fecha en que la condición se manifestó, otros diagnósticos anteriores, 
                    historial de exámenes o pruebas que se ha realizado el solicitante, antecedentes clínicos familiares, impresiones diagnósticas
                      del médico que redacta la carta y en caso de que el solicitante sea menor de edad, historia prenatal y de nacimiento.</p>
                </div>
              </div>
              <div class="third-step">
                <h1 class="step-num">3</h1>
                <div class="step-instruction">
                  <h6 class="step-title">Si ya cuentas con la carta de recomedación, pasa a rellenar el siguiente formulario:</h6>
                  <button class="to-form"><a href="/form/" >Enviános una solicitud</a></button>
                </div>
              </div>
              <div class="fourth-step">
                <h1 class="step-num">4</h1>
                <div class="step-instruction">
                  <h6 class="step-title">Espera que revisemos tu caso. Te contactaremos lo antes posible, pero te pedimos paciencia en el proceso.</h6>
                </div>
              </div>
              <div class="fifth-step">
                <h1 class="step-num">5</h1>
                <div class="step-instruction">
                  <h6 class="step-title">Si tu solicitud es aceptada, te solicitaremos más antecedentes como por ejemplo:</h6>
                  <p class="step-text">Estudios de laboratorio,  expedientes médicos, imágenes, resonancias, radiografías, fotografías o videos, 
                    muestras e informes de patología, etc.</p>
                </div>
              </div>
            </div>
        </div>
</section>