<section class="bg-one info section" id="info">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 padding-0">
            {{"<!-- section title -->" | safeHTML}}
            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2>{{ .Site.Data.info.heading}} <span class="color">{{ .Site.Data.info.headingSpan}}</span> {{ .Site.Data.info.endSpan}} </h2>
                <div class="border-meghna"></div>
            </div>
            <div class="path-holder">
              <div class="first-text">
                <h3 class="in-path-title left">Trabajamos a escala humana</h3>
                <p class="in-path-text left">Se necesita del trabajo de profesionales especializados para dar con un diagnóstico desconocido hasta ahora.
                  Somos una Fundación sin fines de lucro, nuestros colaboradores son voluntarios, pero debes saber que estamos muy comprometidos con la labor 
                  de investigar.</p>
              </div>
              <div class="logo-center">
                <img class="logo-info" src="https://letb.s3-sa-east-1.amazonaws.com/Diagnosis/Diagnosis_logo_index.png">
              </div>
              <div class="second-text">
                <h3 class="in-path-title right">No podemos tomar todos los casos</h3>
                <p class="in-path-text right">Debemos revisar cuidadosamente si eres un caso que podamos tomar y que cumplas con nuestros requerimientos para
                  poder darte un servicio satisfactorio, recuerda que nuestro objetivo son las enfermedades neurológicas sin diagnóstico claro y con
                  sospecha de origen hereditario o genético.</p>
              </div>
            </div>
            <div class="path-end">
                <div class="third-text">
                    <h3 class="in-path-title center">Revisamos todas las solicitudes</h3>
                    <p class="in-path-text center">Si tu solicitud es aceptada, podemos entregarte una consulta con un médico genetista, 
                      orientación sobre posibles diagnósticos. También aspiramos a poder entregar apoyo económico para realizar estudios. 
                      Todo dependerá de tu caso.</p>
                  </div>
            </div>
        </div>
</section>