/*--HERO AREA--*/

.hero-area{
    width: 100%;
}

.block{
    width: 90%;
    margin: 0 auto;
}

/*--NAVBAR--*/

.navbar-brand{
    display: flex;
    flex-direction: row;
    width: 25%;
}

.navbar-brand img{
    width: 300px
}

/*--ABOUT--*/

.about-icons{
    width: 120px;
}

/*--CALL-TO-ACTION--*/
.call-to-action h2{
    padding-bottom: 30px;
}

.flyers-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img.flyer-diagnosis{
    width: 30%;
}

.footer-brand {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.copyright a img{
    width: 150px;
}

/*--INFO-IMPORTANT--*/

.path-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 345px;
}

.first-text, .second-text{
    width: 400px;
}



