body {
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand span{
    letter-spacing: 5px;
    font-size: 28px;    
}

.bottom-logo-text{
   line-height: 22px;
}

.pl-2{
    padding-left: 14px!important;
}