.block{
    width: 90%;
    margin: 0 auto;
}
.navbar-brand{
    display: flex;
    flex-direction: row;
    width: 25%;
}


.navbar-brand img{
    width: 300px
}

.brand-text{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.call-to-action h2{
    padding-bottom: 30px;
}

.footer-brand {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.copyright a img{
    width: 150px;
}



