@media (max-width: 480px){
  /*--HERO-AREA--*/
  .hero-area{
    height: auto;
  }

  .hero-area .block h1 {
    font-size: 38px;
    margin: 80px auto 30px;
    line-height: 50px;
  }
  .hero-area .block p {
    font-size: 11px;
    width: 90%;
    line-height: 12px;
    text-align: justify;
  }

  .hero-area .block .btn-transparent {
    margin: 50px auto;
    font-weight: 500;
    letter-spacing: 2px;
  }
  /*--NAVBAR--*/
  .navbar-brand img {
    width: 200px;
  }

  /*--ABOUT--*/
  .title h2{
    font-size: 28px;
  }

  /*--CALL-TO-ACTION--*/
  .flyers-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img.flyer-diagnosis{
    width: 100%;
    margin-bottom: 50px;
}

/*--INFO-IMPORTANT--*/

.path-holder{
  flex-direction: column;
  background-color: #C6C6C6;
  border-bottom: none;
}

.first-text, .second-text{
  float: none;
  width: 100%;
}

.first-text{
  border-bottom: solid 10px #FFF;
}

.third-text{
  border: solid 10px #FFF;
}

.in-path-title{
  text-align: center;
  font-size: 24px;
}

.in-path-text{
  text-align: justify;
  padding: 20px;
}

}
