.navbar-brand{
    display: flex;
    flex-direction: row;
    width: 25%;
}


.navbar-brand img{
    width: 100px;
}

.brand-text{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: flex-end;
}

.call-to-action h2{
    padding-bottom: 30px;
}

.copyright a img{
    width: 150px;
}