body {
    font-family: 'Encode Sans', sans-serif;

}

h1, h2, h3, h4, h5, h6{
    font-family: 'Encode Sans', sans-serif;

}

.hero-area {
    background: #33CCCC;
}

.hero-area::before {
    background: none;
}

.hero-area .block h1 {
    font-size: 90px;
    color: #fff;
    text-transform: none;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-area .block p {
    color: #fff;
    font-size: 16px;
    width: 70%;
    margin: 0 auto;
}

.navbar-brand span{
    letter-spacing: 5px;
    font-size: 28px;    
}

.bottom-logo-text{
   line-height: 22px;
}

.pl-2{
    padding-left: 14px!important;
}

.about .block .icon-box:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 113.14px;
    height: 113.14px;
    background-color: inherit;
    left: 20.4315px;
    transform: scaleY(1.2) rotate(-45deg) translateY(50px) translateX(-45px);
}

.about .block .icon-box:before {
    top: -56.5685px;
    border-top: 4px solid #33CCCC;
    border-right: 4px solid #33CCCC;
}

.about .block .icon-box:after{
    display: none;
}